{:paths   ["src/main/clojure"
           "test/main/clojure"
           "resources"]
 :deps    {:cljfmt              {:mvn/version "0.6.4"}
           :nsorg-cli           {:mvn/version "0.3.1"}
           :org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:nsorg {:main-opts ["-m" "nsorg.cli" "--replace"]}
           :cljfmt {:main-opts ["-m" "cljfmt.main" "fix" "src" "test" "deps.edn"]}
           :test {:extra-paths ["test"]
                  :extra-deps  {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}
